<!-- <!DOCTYPE html>
<html lang="en">

<head> -->
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>Book Collection</title> -->
<!-- </head>

<body>
  <header id="search-header">
    <div id='title'>Best Books!</div>
    <nav></nav>
  </header>

  <main id='main'>
    <% searchResults.forEach(book => { %> -->
    <section class="result">
      <img id='image' src="<%= bookSelection.image %>" />
      <div id='info'>
        <h3><%= bookSelection.title %></h3>
        <p><%= bookSelection.authors %></p>
      </div>
    <p id='description'><%= bookSelection.description %></p>
    <p><%= book.isbn %></p>
    <p>Bookshelf: <%= bookSelection.bookshelf %></p>
    </section>

<form action="/update/<%= book.id%>?_method=PUT" method="post">
<input type="text">
</form>

    <!-- <%})%>
  </main>

</body>

</html> -->