<html>

<body>
  <main>

    <a href="../">Return to Home</a>

    <section>
      <ul class="result">
        <li>
          <img id='image' src="<%= bookSelection.image_url %>" />
          <div id='info'>
            <h3><%= bookSelection.title %></h3>
            <p><%= bookSelection.author %></p>
          </div>
          <p id='description'><%= bookSelection.description %></p>
          <p><%= bookSelection.isbn %></p>
          <p>Bookshelf: <%= bookSelection.bookshelf %></p>
        </li>
      </ul>

      <%- include('edit')%>

    <button id="reveal" onclick="" type="submit">Update Book</button>
    </section>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>$("#reveal").click(() => {
  $('#hiddenForm').show()
});


</script>

</html>