
<html>
<body>
  <main>
<section>
<ul class="result">
  <li>
  <img id='image' src="<%= bookSelection.image %>" />
  <div id='info'>
    <h3><%= bookSelection.title %></h3>
    <p><%= bookSelection.authors %></p>
  </div>
  <p id='description'><%= bookSelection.description %></p>
  <p><%= book.isbn %></p>
  <p>Bookshelf: <%= bookSelection.bookshelf %></p>
  </li>
</ul>

<h2>Update Book</h2>
  <form action="/update/<%= books.id%>?_method=PUT" method="post">
    <input type="text" name='title' value='<%books.title %>' placeholder="Book Name" />
    <input type="text" name='authors' value='<%books.authors %>' placeholder="Book Name" />
    <textarea name='description' value='<%books.description %>' placeholder="Description of the book" />
    <input type="text" name='isbn' value='<%books.isbn %>' placeholder="isbn number"/>
        <input type="text" name='bookshelf' value='<%books.bookshelf %>' placeholder="bookshelf"/>
        <button type="submit">Update this book</button>
      </form>
    </section>
   </main>
     </body>
     </html>

 