<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head')%>
</head>

<body>
  <header id="search-header">
    <%- include('../../layout/header') %>  
  </header>

  <main id='main'>
    <% searchResults.forEach(book => { %>
    <div class="result">
      <img id='image' src="<%= book.image_url %>" alt="<%= book.image_url %>" />
      <div id='info'>
        <h3><%= book.title %></h3>
        <p><%= book.author %></p>
      </div>
    <p id='description'><%= book.description %></p>
  </div>

<form action="/addbook" method="POST">
  <input type="hidden" name="title" value="<%= book.title %>" />
  <input type="hidden" name="author" value="<%= book.author %>" />
  <input type="hidden" name="description" value="<%= book.description %>" />
  <input type="hidden" name="image_url" value="<%= book.image_url %>" />
  <input type="hidden" name="bookshelf" value="" />
  <button type="submit">Add To Favorites</button>
</form>

    <%})%>
  </main>

</body>

</html>