<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>Book Collection</title>
</head>

<body>
  <header id="search-header">
    <div id='title'>Best Books!</div>
    <nav></nav>
  </header>

  <main id='main'>
    <% searchResults.forEach(book => { %>
    <div class="result">
      <img id='image' src="<%= book.image %>" alt="<%= book.image %>" />
      <div id='info'>
        <h3><%= book.title %></h3>
        <p><%= book.authors %></p>
      </div>
    <p id='description'><%= book.description %></p>
  </div>
    <%})%>
  </main>

</body>

</html>