<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <main>
    <header>
      <h1>Beat Books!</h1>
      <!-- <%- include('pages/layout/header.ejs') %> -->
      <nav>


        <!-- Anything that is saved in the database -->

      </nav>
    </header>
    <section class='selected-books'>
      <% let counter = 0; %>
      <% saved.forEach(book => { %>

      <ul id='book-list'>
        <% results.forEach(books => { %>
        <li class='book-item' data-id="<%= books.id %>">
          <img id='image' src="<%= book.image %>" alt="<%= book.image %>" />
          <div id='info'>
            <h3><%= book.title %></h3>
            <p><%= book.authors %></p>
          </div>
          <!-- <p id='description'><%= book.description %></p> -->
        </li>
      </ul>
      <% counter++; %>
      <%  }) %>
      <span class='counter'><%= counter %>Saved Books</span>
    </section>
  </main>
</body>

</html>